*{
    margin: 0;
    padding: 0;
}
.msg{
    position: absolute;
    top: 0;
    left: 0;
}
.surprise{
    display: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.BG{
    background-color: bisque;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
button{
    height: 100px;
    width: 200px;
}
.btn1{
    border-radius: 20px;
    color: orange;
}
.btn1:hover{
    color: red;
}
.btn2{
    color: pink;
}
.btn2:hover{
    background-color: aqua;
}
.btn3{
    background-color: pink;
}
.btn3:hover{
    color: aqua;
}
.btn4{
    box-shadow: 20px 20px 40px rgb(93, 92, 92) inset;
}
.btn5{
   border: 2px dotted black;
}
.btn6{
    text-shadow: 3px 3px  rgb(72, 72, 72);
}
