.DS_Store
Static_Webpage/Netflix-Clone.zip
Static_Webpage/Apple-Clone.zip
Basic_HTML_and_CSS_Revision.zip
Basic_JavaScript_Revision.zip

Basic_JavaScript_Revision/Task23/script.js
Basic_JavaScript_Revision/Task23/index.html
Basic_JavaScript_Revision/Expense_Tracker/Images
# Basic_HTML_and_CSS_Revision/Photos/Personal