* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgb(236, 234, 234);
    --color2:  rgb(246, 245, 245);
    --color3: rgb(255, 255, 255);
    --color4: rgb(250,250,250);
}

/* Navigation Bar */
/* Above */

div.aboveNav {
    display: flex;
    gap: 5px;
    background-color: var(--color1);
    padding: 1.5vh 17vw;
    font-size: smaller;
    font-weight: 100;
    cursor: pointer;
    letter-spacing: 0.6px;
    /* display:none; */
}

div.aboveNav>div.Underline:hover {
    text-decoration: underline;
}

/* Nav Bar */
div.navBarBG {
    background-color: var(--color4);
}

div.navBar {
    display: flex;
    width: 75vw;
    margin: auto;
    /* gap: 2vw; */
    padding: 1vh 2vw;
    justify-content: space-around;
    
}

div.navBar .Apple_Logo {
    height: 2vh;
}

div.navBar>div {
    font-size: smaller;
    font-weight: 100;
    cursor: pointer;
}

div.navBar > div.images{
    display: flex;
    gap: 3vw;
    justify-content: space-evenly;
    cursor: pointer;
}

div.navBar .Search {
    height: 2vh;
}

div.navBar .Bag {
    height: 2vh;
}

div.navBar .DropDown {
    width: 1.5vw;
    height: 2vh;
    display: none;

}

/* Below nav */
div.belowNav {
    text-align: center;
    font-size: 0.94rem;
}

div.belowNav .Shop {
    text-decoration: none;
    color: rgb(5, 133, 179);
}

div.belowNav .Shop:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (width < 1000px) {
    /* Above Nav */
    div.aboveNav{
        width: 94vw;
        padding: 1.5vh 3vw;
    }
    /* Nav */
    div.navBar{
        display: flex;
        justify-content: space-between;
        width: 94vw;
        margin: 0vh;
        padding: 1vh 3vw;
    }

    div.navBar > div.ProductHeadings{
        display: none;
    }
    div.navBar  .DropDown{
        background-color: var(--color3);
        display: inline;
        height: 3vh;
        width: 3vw;
        cursor: pointer;
    }

    /* Below Nav */
    div.belowNav{
        width:80vw ;
        margin: auto;
    }
}
@media screen and (width <500px) {
    div.navBar{
        background-color: var(--color4);
    }
    div.navBar .DropDown{
        width: 5vw;
        /* background-color: var(--color); */
    }
    /* Below Nav */
    div.belowNav{
        font-size: small;
        /* display: none; */
    } 
}