:root {
    --color1: rgb(236, 234, 234);
    --color2:  rgb(246, 245, 245);
    --color3: rgb(255, 255, 255);
    --color4: rgb(250,250,250);
    --color5: rgb(26, 124, 222);
    --color6: rgb(211, 233, 242);
    --color7:  rgb(173, 220, 236);
}
div.shopProduct{
    display: flex;
    gap: 1vh;
    margin: 2vh;
}
.LearnMore{
    background-color:var(--color5) ;
    color: var(--color3);
    border: 1px solid var(--color5);
    border-radius: 100px;
    padding:10px 20px;
    font-size: large;
    cursor: pointer;
}
.Buy{
    /* background-color: var(--color2); */
    color:var(--color5);
    border: 1px solid var(--color5);
    padding:10px 20px;
    border-radius: 100px;
    font-size: large;
    cursor: pointer;
}
.iPad .Buy{
    background-color:var(--color7) ;
}
.Buy:hover{
    background-color: var(--color5);
    color: var(--color3);
}
.OtherProducts{
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    margin: auto;
    gap: 1vw;

}
.OtherProducts img{
    width: 48.5vw;
    height: 30vw;
}
.OtherProductsHeading{
    font-size:6vh;
    font-weight: bold;
}
.OtherProductsGist{
    font-size: 3vh;
    font-weight: lighter;
    width: 38vw;
    text-align: center;
}
.OProduct > div{
    height: 15vw;
}
.OProduct>:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.separator{
    height: 1vh;
    background-color: var(--color3);
}
/* Ipad */
/* .Ipad2{
    display: none;
} */
.iPad >div{
    background-color:var(--color7);
}


/*  Pro */
.Pro>:first-child{
    color: var(--color3);
}
.Pro >div{
    background-color: black;
}
/* Watch */
div.Watch{
    border: 0.05vw solid black;
    /* box-sizing: border-box; */
}
.Watch img{
    width: 48.4vw;
    height: 29.9vw;
}
/* Airpods and Trade In */
.Air-Trade >:first-child{
    background-color: var(--color2);
}

/* Media Queries */
@media screen and (width < 1200px) {
    .OtherProductsHeading{
        font-size: 5vh;
    }
    .OtherProductsGist{
        font-size: 2.6vh;
        width: 45vw;
    } 
    .OProduct > div{
        height: 22vw;
    }
   
}
@media screen and (width < 1100px) {
    .OtherProductsHeading{
        font-size: 4vh;
    }
    .OtherProductsGist{
        font-size: 2.6vh;
    } 
    .OProduct > div{
        height: 25vw;
    }
    .IpadPro img{
        width: 48vw;
    }
  
}
@media screen and (width < 1000px) {
    .OtherProductsHeading{
        font-size: 3.5vh;
    }
    .OtherProductsGist{
        font-size: 2.2vh;
    } 
    .OProduct > div{
        height: 30vw;
    }
  
    /* .iPad > div{
        background-color: var(--color3);
    }
    .iPad .Buy{
        background-color:var(--color3) ;
    }
    .Ipad1{

    }
    .Ipad2{
        display: inline;
    }*/
} 
@media screen and (width <900px) {
    .OtherProducts{
        /* gap: 100vh; */
        /* flex-direction: column; */
    }
    .OProduct img{
        width: 100vw;
        height: auto;
    }
   
}
@media screen and (width<500px) {
    .OProduct >div{
        height: 30vh;
    }   
    .OtherProductsGist{
        width: 70vw;
    }
    
}
@media screen and (width<360px) {
    .OProduct >div{
        height: 30vh;
    }   
     
}