*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(99, 30, 30);
}
header{
    position: sticky;
    top: 0;
    opacity: 50%;
    background-color: antiquewhite;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    opacity: 100%;
    padding-bottom: 10px;
}
article{
    width: 90vw;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 10vw; */
    margin: auto;
    margin: 5vw;
    justify-content: space-between;
    gap: 5vw;
}
nav > div{
    cursor: pointer;
}
.heading{
    padding: 10px;
    padding-bottom: 0px;
}
.content{
    min-width: 600px;
    width: 40vw;

    min-height: 800px;
    height: 40vw;
    border: 2px solid black;
    background-color: bisque;
    border-radius: 20px;
}
.textContent{
    margin: 10px;
    padding: 20px;
    /* background-color: aliceblue; */
    border: 1px solid black;
    border-radius: 20px;
}
footer>div{
    text-align: center;
    color: white;
}